/* Estilos generales del contenedor del Dashboard */
.dashboard-container {
  background-color: #f4f7fc;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  position: relative; /* Necesario para posicionar el botón de forma absoluta */
}

.dashboard-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-bottom: 10px;
}

.no-visits-message {
  font-size: 1.2rem;
  color: #555;
}

.visits-table {
  width: 100%;
  border-collapse: collapse;
}

.visits-table th,
.visits-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.visits-table th {
  background-color: #f1f1f1;
}

.status-pending {
  color: #ffad33;
}

.status-completed {
  color: #28a745;
}

/* Estilo del botón Nueva visita a obra */
.new-visit-button {
  background-color: #007bff;  /* Azul */
  color: white;
  padding: 8px 16px; /* Ajustamos el tamaño del botón */
  font-size: 1rem; /* Tamaño de letra más pequeño */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: absolute;  /* Posicionamos el botón de manera absoluta */
  left: 20px; /* Alineado a la izquierda */
  top: auto; /* Distancia desde la parte superior */
  width: auto; /* Ajusta el tamaño del botón según el contenido */
}

.new-visit-button:hover {
  background-color: #0056b3;  /* Azul más oscuro */
  transform: scale(1.05);  /* Efecto de expansión */
}

.new-visit-button:focus {
  outline: none;
}
